body {
  font-family: "Helvetica", Sans-Serif;
  background-image: url("https://wallpaperaccess.com/full/1371931.jpg");
}

.img {
  height:150px;
  border-radius: 50%;
  border: 10px solid #FEDE00;
}

/* Header title */
.header {
  padding: 40px;
  text-align: center;
  background: #f9f7f7;
  margin:30px;
  font-size:20px;
}